---
import Layout from '../components/Layout.astro';
---

<Layout title="Embedded Reporting Test Index page">
	<main>
    <div id="content">
      <div class="header">
        <h2><a href="/tableau.html">Tableau page</a></h2>
        <h2><a href="/powerbi.html">PowerBI page</a></h2>
      </div>
    </div>
	</main>
</Layout>